 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav{
  height: 10vh;
  background: #2d3748;
  display: flex;
  align-items: center;
  color: white;
}
#nav-toggle{
  display: none;
}
.nav-toggle-label{
  margin-left: 2%;
  display: none;
}
.link-container{
  position: absolute;
  right: 0%;
  display: flex;
  list-style: none;
}
.logo{
  font-size: 2rem;
}
.nav-links{
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 0px 20px;
}
.nav-links:hover{
  background: #1e2430;
}

@media (max-width: 715px){
  .link-container{
    flex-direction: column;
    background: #4a5568;
    left: 0%;
    top: 10%;
    height: 0%;
    transition: all 0.5s;
  }
  
  .nav-toggle-label{
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .logo{
    position: absolute;
    right: 45%;
  }
  .nav-links{
    display: none;
    width: 100%;
    padding: 20px;
  }
  #nav-toggle:checked ~ .link-container{
    height: 45%;
  }
  #nav-toggle:checked ~ .link-container .nav-links{
    display: block;
  }
  .line{
    height: 4px;
    width: 30px;
    background: white;
    margin: 5px;
  }
} 
