*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav{
  height: 10vh;
  background: #2d3748;
  display: flex;
  align-items: center;
  color: white;
}

#nav-toggle{
  display: none;
}
.nav-toggle-label{
  margin-left: 2%;
  display: none;
}
.link-container{
  position: absolute;
  right: 0%;
  display: flex;
  list-style: none;
}
.logo{
  font-size: 2rem;
}
.nav-links{
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin: 0px 20px;
}
.nav-links:hover{
  background: #2d3748;
}

@media (max-width: 715px){
  .link-container{
    position: fixed;
    width: 0%;
    height: 100vh;
    flex-direction: column;
    background: #4a5568;
    right: 0%;
    top: 10%;
    transition: width 0.5s ease-in-out;
  }
  .nav-toggle-label{
    position: absolute;
    right: 5%;
    display: block;
    cursor: pointer;
  }
  .logo{
    position: absolute;
    right: 45%;
  }
  .nav-links{
    display: block;
    width: 75%;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  #nav-toggle:checked ~ .link-container{
    width: 50%;
  }
  #nav-toggle:checked ~ .link-container .nav-links{
    opacity: 1;
  }
  .line{
    height: 4px;
    width: 30px;
    background: white;
    margin: 5px;
    border-radius: 20%;
  }
}
